:root {
  --primary: #background: rgb(234,190,42);
  background: linear-gradient(90deg, rgba(234,190,42,1) 0%, rgba(0,0,0,1) 50%, rgba(234,190,42,1) 100%);
  --primary-text: #ffffff;
  --secondary: #eabe2a;
  --secondary-text: #ffffff;
  --accent: #000000d8;
  --accent-text: #ffffff;
}
